*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: #faf1d4;
    color: #000;
}

.img{
    text-align: center;
    margin: 50px;
}

img{
    height: 300px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    
    
    
}
.img p{
    font-size: 35px;
}
.detail{
    margin: 20px 40px;
    margin-bottom: 50px;
}
.detail p{
    margin-left: 10px;
    margin-right: 35px;
    font-size: 18px;
}
.detail hr{
    width: 95%;
    margin: auto;
    margin: 10px;
}
.detail span{
    font-weight: bold;
}

/* ------contact----- */

.container{
    padding: 10px 5%;
}

#contact{
    margin-top: 70px;
    margin-bottom: 30px;
}

.row{
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 50%;
}

.contact-list{
    display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.contact-left p{
    font-size: 25px;
    margin-bottom: 10px;
}

.contact-list ul li{
    list-style: none;
}

.contact-list ul li a{
    color: #000;
    text-decoration: none;
}

.contact-list li{
    margin-bottom: 15px;
}
.btn{
    display: block;
    font-size: 15px;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid hsl(180, 100%, 50%);
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    transition:background 0.5s;
}
.btn:hover{
    background: hsl(182, 100%, 50%);

}

.contact-left form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #eaeded;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    font-size: 15px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 40px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

/* --------footer------- */

.copyright hr{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}


